body{
	background-color: burlywood;
	text-align: center;
	width:80%;
	margin:auto;
}

h1{
	font-weight: bold;
}

button{
	background-color:darkgreen;
	margin:15px;
	color:darkkhaki;
	border-style:solid;
	border-color:darkolivegreen;
	border-width:3px;
	border-radius: 8px;
	height:35px;
	width:60%;
}

#modal{
	position: fixed;
	height:80%;
	width:80%;
	margin:auto;
	left:10%;
	top:10%;
	background-color: ivory;
	border-style:solid;
	border-color:black;
	border-width:3px;
	border-radius:10px;
}

#modal-header{
	margin:15px;
	font-size: 32px;
}

.hidden{
	display:none;	
}